<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>たびわり - ホーム</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-50 text-gray-800">
  <header class="fixed w-full top-0 left-0 right-0 bg-blue-600 text-white p-4 shadow-md h-16">
    <div class="max-w-5xl mx-auto flex justify-between items-center">
      <a href="{{url_for('home.home')}}">
        <h1 class="text-xl font-bold">ペイとも</h1>
      </a>
    </div>
  </header>
  <div class="h-16">

  </div>
  <main class="max-w-4xl mx-auto px-4 py-12 text-center">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="text-center text-gray-500 text-sm py-6">
    &copy; 2025 ペイとも - 立て替え管理アプリ
  </footer>
</body>
</html>